<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Metadata and title of the webpage -->
  <meta charset="utf-8">
  <title>Student Exam Performance Indicator</title>

  <!-- External fonts from Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
  <!-- Link to external CSS stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="bg-img">
    <div class="content">
      <div class="login">
        <!-- Heading for the form -->
        <h1>Student Exam Performance Prediction</h1>

        <!-- Form for user input -->
        <form action="{{ url_for('predict_datapoint')}}" method="post">
          
          <!-- Gender selection -->
          <div class="mb-3">
            <!-- <label class="form-label">Gender</label> -->
            <select class="form-control" name="gender" placeholder="Enter you Gender" required>
              <option class="placeholder" selected disabled value="">Select your Gender</option>
              <option value="male">
                Male
              </option>
              <option value="female">
                Female
              </option>
            </select>
          </div>
          
          <!-- Race or Ethnicity selection -->
          <div class="mb-3">
            <!-- <label class="form-label">Race or Ethnicity</label> -->
            <select class="form-control" name="ethnicity" placeholder="Enter you ethnicity" required>
              <option class="placeholder" selected disabled value="">Select Ethnicity</option>
              <option value="group A">
                Group A
              </option>
              <option value="group B">
                Group B
              </option>
              <option value="group C">
                Group C
              </option>
              <option value="group D">
                Group D
              </option>
              <option value="group E">
                Group E
              </option>
            </select>
          </div>
          
          <!-- Parental Level of Education selection -->
          <div class="mb-3">
            <!-- <label class="form-label">Parental Level of Education</label> -->
            <select class="form-control" name="parental_level_of_education" placeholder="Enter you Parent Education" required>
              <option class="placeholder" selected disabled value="">Select Parent Education</option>
              <option value="associate's degree">
                associate's degree
              </option>
              <option value="bachelor's degree">
                bachelor's degree
              </option>
              <option value="high school">
                high school
              </option>
              <option value="master's degree">
                master's degree
              </option>
              <option value="some college">
                some college
              </option>
              <option value="some high school">
                some high school
              </option>
            </select>
          </div>
          
          <!-- Lunch Type selection -->
          <div class="mb-3">
            <!-- <label class="form-label">Lunch Type</label> -->
            <select class="form-control" name="lunch" placeholder="Enter you Lunch" required>
              <option class="placeholder" selected disabled value="">Select Lunch Type</option>
              <option value="free/reduced">
                free/reduced
              </option>
              <option value="standard">
                standard
              </option>
            </select>
          </div>
          
          <!-- Test preparation Course selection -->
          <div class="mb-3">
            <!-- <label class="form-label">Test preparation Course</label> -->
            <select class="form-control" name="test_preparation_course" placeholder="Enter you Course" required>
              <option class="placeholder" selected disabled value="">Select Test_course</option>
              <option value="none">
                None
              </option>
              <option value="completed">
                Completed
              </option>
            </select>
          </div>
          
          <!-- Writing Score input -->
          <div class="mb-3">
            <!-- <label class="form-label">Writing Score out of 100</label> -->
            <input class="form-control" type="number" name="writing_score" placeholder="Enter your Writing score" min='0' max='100' required/>
          </div>
          
          <!-- Reading Score input -->
          <div class="mb-3">
            <!-- <label class="form-label">Reading Score out of 100</label> -->
            <input class="form-control" type="number" name="reading_score" placeholder="Enter your Reading Score" min='0' max='100' required/>
          </div>
          
          <!-- Submit button -->
          <div class="mb-3">
            <input class="btn btn-primary btn-large" type="submit" value="Click To Predict Your Maths Score" required />
          </div>
        
        </form>
        
        <!-- Prediction result display -->
        <h2>
          The Prediction = {{results}}
        </h2>
      
      </div>
    </div>
  </div>
</body>

</html>
